/*
 * HEADER
 */
#header {
  margin: 70px 0 0 0;
  height: 100px;

  background: #333 url(/images/pattern.png);
  color: #fff;

  a {
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }

  .logo {
    position: relative;
    top: -40px;

    float: left;
    width: 180px;
    height: 180px;

    background: url(/images/logo.png);
    background-size: contain;
    text-indent: -9999px;
  }
}

#header .about-header {

  float: left;
  margin: 18px 0 18px 25px;
  
  h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  h1 > a {
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    display: block;

    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
  }
}

#header .links {
  float: right; 
  margin: 28px 0;

  ul { 
    @include clearfix;
    list-style: none; 
  }
  
  li { 
    display: inline-block; 
    float: left; 
    margin: 0 0 0 25px;
  }

  li > a {
    font-size: 2.25rem; 
  }
}

/*
 * RESPONSIVE
 */

@media (max-width: 450px) {
  #header {
    height: 80px;
    margin: 50px 0 0 0;

    .logo {
      float: none;
      left: 50%;
      top: -35px;

      width: 140px;
      height: 140px;
      margin-left: -70px;
    }
  }

  #header .about-header {
    clear: both;
    width: 100%;
    margin: -25px 0 0 0;

    text-align: center;
    color: $heading-color;

    a {
      color: $heading-color;
    }
  }

  #header .links {
    clear: both;
    width: 100%;
    
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;

    a {
      color: $heading-color;
    }

    ul {
      width: 172px;
      margin: 0 auto;
    }

    li {
      display: table-cell;
      margin: 0 20px;
    }

    li > a {
      font-size: 1.25rem;
      line-height: 40px;
    }
  }
}
